.jumbotron {
  padding-left: 15px;
  padding-right: 15px;
  a {
    cursor: pointer;
  }
}

#introduction {

}

#aminoacidTypes {
  margin-top: 10px;
  display: none;
  .fa {
    margin-right: 5px;
  }
}

#dnaDisplayContainer {
  display: none;
  @extend .clearfix;
}

#dnaDisplay {
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

#downloadButton {
  margin-top: 30px;
  margin-bottom: 30px;
}

