
<div class="container">
  <footer id="footer">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <hr>
        <p class="pull-left">&copy; WEBCASCADE - <a href="http://webcascade.com" target="_blank">webcascade.com</a> - <a href="#"  data-toggle="modal" data-target="#disclaimerModal">Disclaimer</a></p>
        <a href="https://github.com/plck/DNA2Visual" class="pull-right" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>
</div>

<!-- examples modal -->
<div class="modal fade" id="examplesModal" tabindex="-1" role="dialog" aria-labelledby="examplesModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Example DNA Code</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="list-group">
          <a href="/examples/x_chromosome_excerpt.txt" class="list-group-item example-link" target="_blank">Human X chromosome excerpt <i class="fa fa-external-link"></i></a>
          <a href="/examples/hiv_1_excerpt.txt" class="list-group-item example-link" target="_blank">HIV 1 genome excerpt <i class="fa fa-external-link"></i></a>
          <a href="/examples/yersinia_pestis_excerpt.txt" class="list-group-item example-link" target="_blank">Yersinia Pestis (Plague) genome excerpt <i class="fa fa-external-link"></i></a>
          <a href="/examples/citrus_clementina_excerpt.txt" class="list-group-item example-link" target="_blank">Citrus Clementina (Clementine) genome excerpt <i class="fa fa-external-link"></i></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /examples modal -->  

<!-- disclaimer modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Disclaimer for DNA2Visual</h4>
      </div>
      <div class="modal-body">
        <h4>Disclaimer</h4>
        <p>
        All the information on this website is published in good faith and for general information purpose only. DNA2Visual.com does not make any warranties about the completeness, reliability and accuracy of this information or its service. Any action you take upon the information you find on this website (DNA2Visual.com), is strictly at your own risk. DNA2Visual.com will not be liable for any losses and/or damages in connection with the use of our website.
        </p>
        <p>
        From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.
        </p>
        <p>
        Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.
        </p>

        <h4>Consent</h4>
        <p>
        By using our website, you hereby consent to our disclaimer and agree to its terms.
        </p><h4>Update</h4>This site disclaimer was last updated on: Saturday, March 5th, 2016<br /><em> · Should we update, amend or make any changes to this document, those changes will be prominently posted here.</em><br /><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<!-- /disclaimer modal -->