{{!-- Main Navigation and Logo --}}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/">DNA2Visual</a>
    </div>
    <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#examplesModal">Examples</button>
  </div>
</nav>